.parent {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-right: 1px solid var(--ifm-toc-border-color);
  background-color: var(--ifm-navbar-background-color);
  transform: translate3d(0, 0, 0);
  transition-property: opacity, visibility, transform;
  transition-duration: var(--ifm-transition-fast);
  transition-timing-function: ease-in-out;
  user-select: none;
}

.presentation {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: var(--ifm-transition-fast);
  transition-timing-function: ease-in-out;
}

@media (max-width: 640px) {
  .sidebar {
    position: fixed;
  }
  .sidebar[data-show="false"] {
    transform: translate3d(-100%, 0, 0);
  }
  .sidebar[data-show="true"] {
    transform: translate3d(0, 0, 0);
  }

  .presentation[data-show="true"] {
    opacity: 1;
    visibility: visible;
  }
}

.background {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  //scrollbar-gutter: stable;
  overflow-x: hidden;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.8rem;
  color: var(--ifm-menu-color);
}

.item:hover {
  background: var(--ifm-color-emphasis-200);
  text-decoration: none;
  color: var(--ifm-menu-color);
}

.item__active {
  background: var(--ifm-color-emphasis-200);
  //color: var(--ifm-link-color);
}

.logout {
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 640px) {
  .logout {
    bottom: var(--ifm-navbar-height);
  }
}

.logout:hover {
  background: var(--ifm-color-emphasis-200);
}
