.card {
  padding: 0.5rem;
  max-height: 640px;
}

.table {
  margin: 0 auto;
}

.table > * {
  word-break: keep-all;
}

.table > tbody {
  word-break: break-all;
}

.table > tbody > tr > th {
  word-break: keep-all;
}

@media (max-width: 640px) {
  .table {
    margin: 0;
    font-size: 92%;
  }
}

.load {
  margin: 1rem auto;
}