.card {
  margin: 10% auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 28%;
  min-width: 360px;
}

.title {
  align-self: center;
  font-size: 2rem;
  line-height: 2;
  font-weight: 700;
}

.composedInput {
  display: flex;
  flex-direction: column;
}

.input {
  height: 40px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.input:focus {
  outline: none;
  border-color: var(--ifm-color-primary);
}

.submitButton {
  height: 40px;
  width: 100%;
  margin-top: 1rem;
  //max-width: 80px;
  align-self: flex-end;
}
