.background {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
  gap: 1.5rem;
}

@media (max-width: 996px) {
  .background {
    margin: 1rem 1.5rem;
  }
}

.group {
  display: flex;
  width: 100%;
  max-width: 600px;
  flex-direction: column;
  padding: 1.2rem;
}

.info {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}

.infoText {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.desc {
  white-space: pre-line;
}

.loading {
  align-self: center;
  padding: 1rem;
}

.submit {
  margin: auto;
  font-size: 1rem;
}

.item {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid var(--ifm-color-success-dark);
  border-radius: 0.5rem;
  color: var(--ifm-color-success-dark);
  transition: background-color 0.2s;
}

.item:hover {
  background-color: rgba(0, 148, 0, 0.2);
  cursor: pointer;
}

.itemDisabled {
  border-color: var(--ifm-color-secondary-darkest) !important;
  background-color: var(--ifm-color-secondary-lightest) !important;
  color: var(--ifm-color-secondary-darkest) !important;
  cursor: not-allowed !important;
}

.selected {
  background-color: rgba(0, 148, 0, 0.2);
}
