.container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin: 1rem;
  gap: 1.5rem;
}

.container > * {
  width: 100%;
  max-width: 600px;
}

@media (max-width: 1024px) {
  .container {
    margin: 1rem 1.5rem;
  }
}

.group {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.desc {
  white-space: pre-line;
}

.loading {
  align-self: center;
  padding: 1rem;
}

.item {
  height: 2.5rem;
  margin: 0.5rem 0;
  border: 1px solid var(--ifm-color-success-dark);
  border-radius: 0.5rem;
}

.fill {
  height: 100%;
  border-radius: 0.4rem;
  padding: 0.5rem;
  color: var(--ifm-button-color);
  background-color: var(--ifm-color-success-dark);
}
